In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train_data = pd.read_csv("train.csv")
pd.set_option('display.max_columns', None)
train_data.head()

,orderID,orderTime,userID,couponsReceived,couponID1,price1,basePrice1,reward1,premiumProduct1,brand1,productGroup1,categoryIDs1,couponID2,price2,basePrice2,reward2,premiumProduct2,brand2,productGroup2,categoryIDs2,couponID3,price3,basePrice3,reward3,premiumProduct3,brand3,productGroup3,categoryIDs3,coupon1Used,coupon2Used,coupon3Used,basketValue,CouponCombination
0,1980,2015-01-28 11:07:33,452fbaebd4fc0b3af0d5dc8c3537d9e0,2015-01-27 23:45:14,5b4d8f34c9085c23de580a21f3c3ca88,5.84,5.84,1.26,1,4e03e74099990e8529eb7e7328220af1,a7ac75fff375132f9b4753d55aada511,b7e3b0110f96213f5087034b92be487a,ddf2edcb48c0b569873c33385642afee,7.97,1.59,1.88,0,304979e999d95fc59d85cba5f1633595,e12b2381d02e767dd2d210fdb1ae7bc2,"f12c4112c9ea685dc2d2705b1448bfbc,ac6d9e2b42dff...",9cc12335b69b3f233b49f7023c3b191d,5.93,3.95,2.51,0,304979e999d95fc59d85cba5f1633595,1ba3059382b4d1db6dfe2e3d484a6d98,"796c5815752a170021838a78bf7fab34,ac6d9e2b42dff...",0,0,0,371.22,0
1,4777,2015-02-25 17:45:50,716edc648f0d7487b766fc238268d84a,2015-02-25 17:20:04,995f1cc8349ddbf037d206ac2f00a9ab,9.08,2.27,0.63,1,4e03e74099990e8529eb7e7328220af1,645dd2d872e6d5f4db5598ddecc789d2,"b7e3b0110f96213f5087034b92be487a,667daa357f899...",2c9d9667cc58220a1be35fc8245e1dfc,2.73,0.45,0.63,0,f6601412b868a05c118961e9d7869bc8,008b99d9c2fd9d58dd1483e364f8e8d3,"f12c4112c9ea685dc2d2705b1448bfbc,a0ae3bad823be...",b0153e6e55531803ebc153e8d9e73e8c,6.02,1.20,2.20,1,4e03e74099990e8529eb7e7328220af1,7de50d28d59f72c28e762dbf764fb7db,"796c5815752a170021838a78bf7fab34,667daa357f899...",0,1,0,218.95,2
2,5837,2015-03-06 16:39:35,cad497a5c21b10f13c0e662895def959,2015-03-03 14:02:09,dd48d5ea770cea48228e8699d5d463f2,5.93,5.38,1.57,0,NaN,a1bb318dd9a3b483f304453f49192007,b7e3b0110f96213f5087034b92be487a,836ffda6edca4e0cfbc1f180e47bafe1,9.59,1.07,0.94,0,NaN,041a02d031057ba1c2e210fe6b0db0f4,"4c65852ba87d9e7d2cc8242c19d5a2c3,f12c4112c9ea6...",ced598d3872a5276154ae91d790eeeab,8.80,1.76,1.88,0,NaN,d1b083d764bac332ee2715c369cf7ec1,796c5815752a170021838a78bf7fab34,1,1,0,211.64,6
3,4292,2015-02-21 15:27:44,7898b75db8a29baf96c80fc96282503a,2015-02-21 15:14:53,20f6bcbc4769375414d0e46a5549b931,8.01,8.01,0.94,0,f6601412b868a05c118961e9d7869bc8,a7ac75fff375132f9b4753d55aada511,b7e3b0110f96213f5087034b92be487a,c6cedd911040d963c2a08baff7be898e,9.22,2.30,1.57,0,f6601412b868a05c118961e9d7869bc8,37d4e26777956be4bae6409f8a1c4f2b,f12c4112c9ea685dc2d2705b1448bfbc,5941ed95be68284be90f948fd841ab88,3.66,0.00,1.57,0,304979e999d95fc59d85cba5f1633595,8709c622a524b70a29ec1da3a278bb11,"796c5815752a170021838a78bf7fab34,4b3e2dbd4d59c...",1,1,0,208.67,6
4,2256,2015-01-30 08:51:05,6e9c197566a7b4e88c5872b0f22a9435,2015-01-27 14:07:56,89d62b666d585f03f262b1f6a6abdd2c,3.24,5.40,1.57,0,788c2fd7ba973489e6529275c01211db,bfdca7185ad7366f965590bab1417db5,"b7e3b0110f96213f5087034b92be487a,4b3e2dbd4d59c...",8f1b2c1aef80975484a9c79645c10367,15.70,3.14,1.26,0,NaN,39e4f48802c4f1dfa349ef08ae751901,796c5815752a170021838a78bf7fab34,92f41f6b12e5ec0a088d46f8f74912e7,5.74,2.87,1.57,0,NaN,bd5a15b6ecba1a9f17cd38de3d72fda2,796c5815752a170021838a78bf7fab34,0,0,0,157.13,0

In [3]:
train_new_data = train_data.drop(["userID","couponID1","brand1","productGroup1","categoryIDs1","couponID2","brand2","productGroup2","categoryIDs2","couponID3","productGroup3","brand3","orderID","categoryIDs3","coupon1Used","coupon2Used","coupon3Used"],axis  = 1)
train_new_data.head()

,orderTime,couponsReceived,price1,basePrice1,reward1,premiumProduct1,price2,basePrice2,reward2,premiumProduct2,price3,basePrice3,reward3,premiumProduct3,basketValue,CouponCombination
0,2015-01-28 11:07:33,2015-01-27 23:45:14,5.84,5.84,1.26,1,7.97,1.59,1.88,0,5.93,3.95,2.51,0,371.22,0
1,2015-02-25 17:45:50,2015-02-25 17:20:04,9.08,2.27,0.63,1,2.73,0.45,0.63,0,6.02,1.20,2.20,1,218.95,2
2,2015-03-06 16:39:35,2015-03-03 14:02:09,5.93,5.38,1.57,0,9.59,1.07,0.94,0,8.80,1.76,1.88,0,211.64,6
3,2015-02-21 15:27:44,2015-02-21 15:14:53,8.01,8.01,0.94,0,9.22,2.30,1.57,0,3.66,0.00,1.57,0,208.67,6
4,2015-01-30 08:51:05,2015-01-27 14:07:56,3.24,5.40,1.57,0,15.70,3.14,1.26,0,5.74,2.87,1.57,0,157.13,0

In [4]:
train_new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4237 entries, 0 to 4236
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   orderTime          4237 non-null   object
 1   couponsReceived    4237 non-null   object
 2   price1             4237 non-null   float64
 3   basePrice1         4237 non-null   float64
 4   reward1            4237 non-null   float64
 5   premiumProduct1    4237 non-null   int64
 6   price2             4237 non-null   float64
 7   basePrice2         4237 non-null   float64
 8   reward2            4237 non-null   float64
 9   premiumProduct2    4237 non-null   int64
 10  price3             4237 non-null   float64
 11  basePrice3         4237 non-null   float64
 12  reward3            4237 non-null   float64
 13  premiumProduct3    4237 non-null   int64
 14  basketValue        4237 non-null   float64
 15  CouponCombination  4237 non-null   int64
dtypes: float64(10), int64(4), object(2)
memory usage: 529.8+ KB

In [5]:
train_new_data["orderTime"] = train_new_data["orderTime"].astype("datetime64[ns]")
train_new_data["couponsReceived"] = train_new_data["couponsReceived"].astype("datetime64[ns]")

In [6]:
train_new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4237 entries, 0 to 4236
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   orderTime          4237 non-null   datetime64[ns]
 1   couponsReceived    4237 non-null   datetime64[ns]
 2   price1             4237 non-null   float64
 3   basePrice1         4237 non-null   float64
 4   reward1            4237 non-null   float64
 5   premiumProduct1    4237 non-null   int64
 6   price2             4237 non-null   float64
 7   basePrice2         4237 non-null   float64
 8   reward2            4237 non-null   float64
 9   premiumProduct2    4237 non-null   int64
 10  price3             4237 non-null   float64
 11  basePrice3         4237 non-null   float64
 12  reward3            4237 non-null   float64
 13  premiumProduct3    4237 non-null   int64
 14  basketValue        4237 non-null   float64
 15  CouponCombination  4237 non-null   int64
dtypes: datetime64[ns](2), float64(10), int64(4)
memory usage: 529.8 KB

In [7]:
train_new_data["orderTime_day"] = train_new_data.orderTime.dt.day
train_new_data["orderTime_month"] = train_new_data.orderTime.dt.month
train_new_data["orderTime_year"] = train_new_data.orderTime.dt.year

train_new_data["orderTime_hour"] = train_new_data.orderTime.dt.hour
train_new_data["orderTime_min"] = train_new_data.orderTime.dt.minute
train_new_data["orderTime_sec"] = train_new_data.orderTime.dt.second

In [8]:
train_new_data["couponsReceived_day"] = train_new_data.couponsReceived.dt.day
train_new_data["couponsReceived_month"] = train_new_data.couponsReceived.dt.month
train_new_data["couponsReceived_year"] = train_new_data.couponsReceived.dt.year

train_new_data["couponsReceived_hour"] = train_new_data.couponsReceived.dt.hour
train_new_data["couponsReceived_min"] = train_new_data.couponsReceived.dt.minute
train_new_data["couponsReceived_sec"] = train_new_data.couponsReceived.dt.second

In [9]:
train_new_data.head()

,orderTime,couponsReceived,price1,basePrice1,reward1,premiumProduct1,price2,basePrice2,reward2,premiumProduct2,price3,basePrice3,reward3,premiumProduct3,basketValue,CouponCombination,orderTime_day,orderTime_month,orderTime_year,orderTime_hour,orderTime_min,orderTime_sec,couponsReceived_day,couponsReceived_month,couponsReceived_year,couponsReceived_hour,couponsReceived_min,couponsReceived_sec
0,2015-01-28 11:07:33,2015-01-27 23:45:14,5.84,5.84,1.26,1,7.97,1.59,1.88,0,5.93,3.95,2.51,0,371.22,0,28,1,2015,11,7,33,27,1,2015,23,45,14
1,2015-02-25 17:45:50,2015-02-25 17:20:04,9.08,2.27,0.63,1,2.73,0.45,0.63,0,6.02,1.20,2.20,1,218.95,2,25,2,2015,17,45,50,25,2,2015,17,20,4
2,2015-03-06 16:39:35,2015-03-03 14:02:09,5.93,5.38,1.57,0,9.59,1.07,0.94,0,8.80,1.76,1.88,0,211.64,6,6,3,2015,16,39,35,3,3,2015,14,2,9
3,2015-02-21 15:27:44,2015-02-21 15:14:53,8.01,8.01,0.94,0,9.22,2.30,1.57,0,3.66,0.00,1.57,0,208.67,6,21,2,2015,15,27,44,21,2,2015,15,14,53
4,2015-01-30 08:51:05,2015-01-27 14:07:56,3.24,5.40,1.57,0,15.70,3.14,1.26,0,5.74,2.87,1.57,0,157.13,0,30,1,2015,8,51,5,27,1,2015,14,7,56

In [10]:
# droping Order time and coupons recieved column
train_new_data = train_new_data.drop(["orderTime","couponsReceived"],axis =1)
train_new_data

,price1,basePrice1,reward1,premiumProduct1,price2,basePrice2,reward2,premiumProduct2,price3,basePrice3,reward3,premiumProduct3,basketValue,CouponCombination,orderTime_day,orderTime_month,orderTime_year,orderTime_hour,orderTime_min,orderTime_sec,couponsReceived_day,couponsReceived_month,couponsReceived_year,couponsReceived_hour,couponsReceived_min,couponsReceived_sec
0,5.84,5.84,1.26,1,7.97,1.59,1.88,0,5.93,3.95,2.51,0,371.22,0,28,1,2015,11,7,33,27,1,2015,23,45,14
1,9.08,2.27,0.63,1,2.73,0.45,0.63,0,6.02,1.20,2.20,1,218.95,2,25,2,2015,17,45,50,25,2,2015,17,20,4
2,5.93,5.38,1.57,0,9.59,1.07,0.94,0,8.80,1.76,1.88,0,211.64,6,6,3,2015,16,39,35,3,3,2015,14,2,9
3,8.01,8.01,0.94,0,9.22,2.30,1.57,0,3.66,0.00,1.57,0,208.67,6,21,2,2015,15,27,44,21,2,2015,15,14,53
4,3.24,5.40,1.57,0,15.70,3.14,1.26,0,5.74,2.87,1.57,0,157.13,0,30,1,2015,8,51,5,27,1,2015,14,7,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4232,4.26,2.13,1.26,0,7.04,0.83,0.94,0,5.46,1.76,1.88,0,296.06,2,11,2,2015,12,22,23,11,2,2015,11,53,58
4233,5.00,3.57,0.94,0,3.66,2.52,0.94,1,2.96,0.69,1.88,0,648.71,0,11,1,2015,23,4,54,9,1,2015,22,5,23
4234,5.37,3.58,0.94,0,3.52,17.60,1.57,0,3.06,7.27,1.26,0,186.03,0,29,1,2015,11,29,17,27,1,2015,15,6,17
4235,7.32,2.93,0.94,1,6.02,2.41,1.57,1,4.26,13.31,1.57,0,186.40,0,11,2,2015,0,25,47,10,2,2015,13,46,34
4236,6.67,1.67,1.57,0,6.90,1.72,1.26,0,3.66,0.91,2.20,0,142.03,0,14,1,2015,10,20,35,13,1,2015,14,43,5

In [11]:
# checking data type
train_new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4237 entries, 0 to 4236
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   price1                 4237 non-null   float64
 1   basePrice1             4237 non-null   float64
 2   reward1                4237 non-null   float64
 3   premiumProduct1        4237 non-null   int64
 4   price2                 4237 non-null   float64
 5   basePrice2             4237 non-null   float64
 6   reward2                4237 non-null   float64
 7   premiumProduct2        4237 non-null   int64
 8   price3                 4237 non-null   float64
 9   basePrice3             4237 non-null   float64
 10  reward3                4237 non-null   float64
 11  premiumProduct3        4237 non-null   int64
 12  basketValue            4237 non-null   float64
 13  CouponCombination      4237 non-null   int64
 14  orderTime_day          4237 non-null   int64
 15  orderTime_month        4237 non-null   int64
 16  orderTime_year         4237 non-null   int64
 17  orderTime_hour         4237 non-null   int64
 18  orderTime_min          4237 non-null   int64
 19  orderTime_sec          4237 non-null   int64
 20  couponsReceived_day    4237 non-null   int64
 21  couponsReceived_month  4237 non-null   int64
 22  couponsReceived_year   4237 non-null   int64
 23  couponsReceived_hour   4237 non-null   int64
 24  couponsReceived_min    4237 non-null   int64
 25  couponsReceived_sec    4237 non-null   int64
dtypes: float64(10), int64(16)
memory usage: 860.8 KB

In [12]:
# checking null values 
train_new_data.isnull().sum()

price1                   0
basePrice1               0
reward1                  0
premiumProduct1          0
price2                   0
basePrice2               0
reward2                  0
premiumProduct2          0
price3                   0
basePrice3               0
reward3                  0
premiumProduct3          0
basketValue              0
CouponCombination        0
orderTime_day            0
orderTime_month          0
orderTime_year           0
orderTime_hour           0
orderTime_min            0
orderTime_sec            0
couponsReceived_day      0
couponsReceived_month    0
couponsReceived_year     0
couponsReceived_hour     0
couponsReceived_min      0
couponsReceived_sec      0
dtype: int64

In [13]:
# defining X and Y
X = train_new_data.drop("CouponCombination", axis = 1)
y = train_new_data["CouponCombination"]

In [14]:
# standard scaliing
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

In [15]:
X_Scaled = scaler.fit_transform(X)

 ## Logistic Regression

In [16]:
# Logistic Regression 
from sklearn.linear_model import LogisticRegression

classification_log_model = LogisticRegression()

In [17]:
classification_log_model.fit(X_Scaled,y)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [18]:
y_pred = classification_log_model.predict(X_Scaled)

In [19]:
from sklearn.metrics import accuracy_score
accuracy_score(y,y_pred)

0.5940523955628982

# Test Data Preprocessing

In [20]:
# Test Data Preprocessing
test_data = pd.read_csv("test.csv")
test_data.head()

,orderID,orderTime,userID,couponsReceived,couponID1,price1,basePrice1,reward1,premiumProduct1,brand1,productGroup1,categoryIDs1,couponID2,price2,basePrice2,reward2,premiumProduct2,brand2,productGroup2,categoryIDs2,couponID3,price3,basePrice3,reward3,premiumProduct3,brand3,productGroup3,categoryIDs3,coupon1Used,coupon2Used,coupon3Used,basketValue,CouponCombination
0,2853,05/02/15 13:11,91af8458eb50f3b9819055721e2d91e2,05/02/15 12:39,321d54c043990289c6659a1e62ef0d6e,5.46,4.55,1.26,0,NaN,a7ac75fff375132f9b4753d55aada511,"b7e3b0110f96213f5087034b92be487a,4b3e2dbd4d59c...",560863f5e55fa08fa6ddf5e192deb45e,6.67,1.31,1.57,0,NaN,e12b2381d02e767dd2d210fdb1ae7bc2,f12c4112c9ea685dc2d2705b1448bfbc,070802e0edd74cc3ec8d2b3ba30d4459,3.52,2.34,2.20,0,304979e999d95fc59d85cba5f1633595,97f4024e6c3543feb52d9fa8cdb67ae6,"796c5815752a170021838a78bf7fab34,ac6d9e2b42dff...",NaN,NaN,NaN,226.97,NaN
1,1694,23/01/15 21:51,fc7aeb4c22f5fa162ae386d6dca62040,23/01/15 20:44,c080e1aec3d35b7f24b17da522d2cb4e,5.37,3.58,1.88,0,NaN,c2edc4102bfcb5992539274018c6e1ef,b7e3b0110f96213f5087034b92be487a,dc056bc83f99c22448100fc31678e874,9.17,1.05,1.26,0,NaN,e12b2381d02e767dd2d210fdb1ae7bc2,f12c4112c9ea685dc2d2705b1448bfbc,fba44998d5c8b42b25d299e5416c56da,5.51,0.73,1.26,0,NaN,32ff5903d325a168eb666ca1b2872efd,"796c5815752a170021838a78bf7fab34,4b3e2dbd4d59c...",NaN,NaN,NaN,210.76,NaN
2,341,08/01/15 14:09,64aa5788d92d0f2bc9922677532f5ef4,06/01/15 15:38,e9859cb74042bc76dbfc732b3941c03a,5.51,5.51,1.57,1,4e03e74099990e8529eb7e7328220af1,89f4ebbb12bbed5670bcdcb48884abc8,"796c5815752a170021838a78bf7fab34,667daa357f899...",c99ad90556cad580d1fa5244a38fd2da,13.85,5.54,1.57,0,NaN,7de50d28d59f72c28e762dbf764fb7db,"796c5815752a170021838a78bf7fab34,ac6d9e2b42dff...",bceccc02e37e078a7ad33661bcb4574c,5.09,0.00,1.57,0,NaN,62f74c666313fbff2ad9083648912a20,f74dc92e8e6835ab41d6cb2ca7fc70f9,NaN,NaN,NaN,203.81,NaN
3,2846,05/02/15 11:47,95096c3ee688694b88d8af2090b01cb8,05/02/15 11:15,da221c831cf065d12b858e10a8e56bc0,16.30,2.04,1.88,0,f6601412b868a05c118961e9d7869bc8,920c97ba22e2235de589e5cc9b391709,"b78123c345b9f8a300a7fac7a735a8bd,9ebaa35411ef6...",412b7a64fcc4eb9eefd508c26b6ee935,7.87,0.00,1.57,0,NaN,6d7ba606f769a0327c1c111ef8d0a681,f929d7624d13f00e1ca52c9edb5c03ba,09fe12ca0930a60e9393d35fe708e7f4,8.89,3.70,1.26,0,a38b030516e52b6f126fb96c159aba25,a240b3940110f9bd715b1a7a623f06ee,b7e3b0110f96213f5087034b92be487a,NaN,NaN,NaN,185.75,NaN
4,1237,17/01/15 23:53,10b30577825ce9521fe0f2ea5e9b2d10,14/01/15 12:00,0ae20a9738458787a52a334e364feecb,15.28,5.09,1.26,0,f6601412b868a05c118961e9d7869bc8,1ab8f2da2e6452c08ea81d6d6597f6be,"b7e3b0110f96213f5087034b92be487a,ac6d9e2b42dff...",df8a9629e1520d71fe6092bc29057533,3.94,0.00,2.20,0,304979e999d95fc59d85cba5f1633595,8709c622a524b70a29ec1da3a278bb11,"796c5815752a170021838a78bf7fab34,ac6d9e2b42dff...",5941ed95be68284be90f948fd841ab88,3.66,0.00,1.57,0,304979e999d95fc59d85cba5f1633595,8709c622a524b70a29ec1da3a278bb11,"796c5815752a170021838a78bf7fab34,4b3e2dbd4d59c...",NaN,NaN,NaN,208.81,NaN

In [21]:
test_new_data = test_data.drop(["userID","couponID1","brand1","productGroup1","categoryIDs1","couponID2","brand2","productGroup2","categoryIDs2","couponID3","productGroup3","brand3","orderID","categoryIDs3","coupon1Used","coupon2Used","coupon3Used","CouponCombination"],axis  = 1)
test_new_data

,orderTime,couponsReceived,price1,basePrice1,reward1,premiumProduct1,price2,basePrice2,reward2,premiumProduct2,price3,basePrice3,reward3,premiumProduct3,basketValue
0,05/02/15 13:11,05/02/15 12:39,5.46,4.55,1.26,0,6.67,1.31,1.57,0,3.52,2.34,2.20,0,226.97
1,23/01/15 21:51,23/01/15 20:44,5.37,3.58,1.88,0,9.17,1.05,1.26,0,5.51,0.73,1.26,0,210.76
2,08/01/15 14:09,06/01/15 15:38,5.51,5.51,1.57,1,13.85,5.54,1.57,0,5.09,0.00,1.57,0,203.81
3,05/02/15 11:47,05/02/15 11:15,16.30,2.04,1.88,0,7.87,0.00,1.57,0,8.89,3.70,1.26,0,185.75
4,17/01/15 23:53,14/01/15 12:00,15.28,5.09,1.26,0,3.94,0.00,2.20,0,3.66,0.00,1.57,0,208.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1811,08/03/15 19:56,04/03/15 9:55,4.17,2.60,1.57,0,2.73,0.78,1.57,1,3.66,1.46,2.20,1,191.68
1812,02/02/15 21:26,27/01/15 15:54,12.18,4.87,1.57,0,5.51,1.10,1.88,1,5.51,4.58,1.26,1,197.98
1813,19/02/15 16:05,18/02/15 20:46,4.26,3.27,1.57,0,3.66,1.97,1.57,0,3.15,4.63,1.88,0,116.70
1814,06/03/15 9:22,03/03/15 14:25,9.96,1.99,0.94,0,7.97,1.59,1.88,0,8.80,4.40,0.94,0,206.22
1815,21/01/15 18:13,20/01/15 15:41,6.44,5.36,1.57,0,7.87,2.19,1.57,0,4.40,1.19,1.57,0,208.90

In [22]:
test_new_data["orderTime"] = test_new_data["orderTime"].astype("datetime64[ns]")
test_new_data["couponsReceived"] = test_new_data["couponsReceived"].astype("datetime64[ns]")

In [23]:
test_new_data["orderTime_day"] = test_new_data.orderTime.dt.day
test_new_data["orderTime_month"] = test_new_data.orderTime.dt.month
test_new_data["orderTime_year"] = test_new_data.orderTime.dt.year

test_new_data["orderTime_hour"] = test_new_data.orderTime.dt.hour
test_new_data["orderTime_min"] = test_new_data.orderTime.dt.minute
test_new_data["orderTime_sec"] = test_new_data.orderTime.dt.second

In [24]:
test_new_data["couponsReceived_day"] = test_new_data.couponsReceived.dt.day
test_new_data["couponsReceived_month"] = test_new_data.couponsReceived.dt.month
test_new_data["couponsReceived_year"] = test_new_data.couponsReceived.dt.year

test_new_data["couponsReceived_hour"] = test_new_data.couponsReceived.dt.hour
test_new_data["couponsReceived_min"] = test_new_data.couponsReceived.dt.minute
test_new_data["couponsReceived_sec"] = test_new_data.couponsReceived.dt.second

In [25]:
# droping Order time and coupons recieved column
test_new_data = test_new_data.drop(["orderTime","couponsReceived"],axis =1)
test_new_data

,price1,basePrice1,reward1,premiumProduct1,price2,basePrice2,reward2,premiumProduct2,price3,basePrice3,reward3,premiumProduct3,basketValue,orderTime_day,orderTime_month,orderTime_year,orderTime_hour,orderTime_min,orderTime_sec,couponsReceived_day,couponsReceived_month,couponsReceived_year,couponsReceived_hour,couponsReceived_min,couponsReceived_sec
0,5.46,4.55,1.26,0,6.67,1.31,1.57,0,3.52,2.34,2.20,0,226.97,2,5,2015,13,11,0,2,5,2015,12,39,0
1,5.37,3.58,1.88,0,9.17,1.05,1.26,0,5.51,0.73,1.26,0,210.76,23,1,2015,21,51,0,23,1,2015,20,44,0
2,5.51,5.51,1.57,1,13.85,5.54,1.57,0,5.09,0.00,1.57,0,203.81,1,8,2015,14,9,0,1,6,2015,15,38,0
3,16.30,2.04,1.88,0,7.87,0.00,1.57,0,8.89,3.70,1.26,0,185.75,2,5,2015,11,47,0,2,5,2015,11,15,0
4,15.28,5.09,1.26,0,3.94,0.00,2.20,0,3.66,0.00,1.57,0,208.81,17,1,2015,23,53,0,14,1,2015,12,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1811,4.17,2.60,1.57,0,2.73,0.78,1.57,1,3.66,1.46,2.20,1,191.68,3,8,2015,19,56,0,3,4,2015,9,55,0
1812,12.18,4.87,1.57,0,5.51,1.10,1.88,1,5.51,4.58,1.26,1,197.98,2,2,2015,21,26,0,27,1,2015,15,54,0
1813,4.26,3.27,1.57,0,3.66,1.97,1.57,0,3.15,4.63,1.88,0,116.70,19,2,2015,16,5,0,18,2,2015,20,46,0
1814,9.96,1.99,0.94,0,7.97,1.59,1.88,0,8.80,4.40,0.94,0,206.22,3,6,2015,9,22,0,3,3,2015,14,25,0
1815,6.44,5.36,1.57,0,7.87,2.19,1.57,0,4.40,1.19,1.57,0,208.90,21,1,2015,18,13,0,20,1,2015,15,41,0

In [26]:
x_test = scaler.transform(test_new_data)
x_test

array([[-0.3068089 , -0.03719702, -0.15438282, ..., -0.69665101,
         0.53720528, -1.7020412 ],
       [-0.32357345, -0.04941755,  1.08873389, ...,  1.18356897,
         0.824553  , -1.7020412 ],
       [-0.29749526, -0.02510247,  0.46717554, ...,  0.00843148,
         0.47973574, -1.7020412 ],
       ...,
       [-0.53033624, -0.05332308,  0.46717554, ...,  1.18356897,
         0.93949209, -1.7020412 ],
       [ 0.53141862, -0.06944914, -0.79599144, ..., -0.22659602,
        -0.26736834, -1.7020412 ],
       [-0.12426158, -0.02699225,  0.46717554, ...,  0.00843148,
         0.65214437, -1.7020412 ]])

In [27]:
y_pred = classification_log_model.predict(x_test)

In [28]:
submit_data = pd.read_csv("submission.csv")
submit_data["CouponCombination"] = y_pred

In [29]:
submit_data.to_csv("submit_v1.csv",index = False)

# Random Forest Model

In [36]:
from sklearn.ensemble import RandomForestClassifier

random_classification_model = RandomForestClassifier()

In [37]:
random_classification_model.fit(X,y)

RandomForestClassifier()

In [38]:
y_pred = random_classification_model.predict(X)

In [39]:
y_test_pred = random_classification_model.predict(test_new_data)

In [40]:
submit_data = pd.read_csv("submission.csv")
submit_data["CouponCombination"] = y_test_pred

In [41]:
submit_data.to_csv("submit_v3.csv",index = False)

# XGBOOST MODEL

In [44]:
from xgboost import XGBClassifier

In [45]:
clf = XGBClassifier()
clf.fit(X, y)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              objective='multi:softprob', predictor=None, ...)

In [46]:
y_test_pred = clf.predict(test_new_data)

In [47]:
submit_data = pd.read_csv("submission.csv")
submit_data["CouponCombination"] = y_test_pred

In [48]:
submit_data.to_csv("submit_v4.csv",index = False)

# lightbgm model

In [50]:
import lightgbm as lgb
train_data = lgb.Dataset(X, label=y)

In [57]:
# Set hyperparameters
params = {
    'boosting_type': 'gbdt',
    'objective': 'multiclass',
    'num_class': 8,
    'metric': 'multi_logloss',
    'num_leaves': 31,
    'learning_rate': 0.05
}

# Train the model
num_rounds = 100
model = lgb.train(params, train_data, num_rounds)

[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.002960 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1885
[LightGBM] [Info] Number of data points in the train set: 4237, number of used features: 23
[LightGBM] [Info] Start training from score -0.521185
[LightGBM] [Info] Start training from score -2.723990
[LightGBM] [Info] Start training from score -2.654517
[LightGBM] [Info] Start training from score -3.539426
[LightGBM] [Info] Start training from score -2.145035
[LightGBM] [Info] Start training from score -3.347664
[LightGBM] [Info] Start training from score -2.999753
[LightGBM] [Info] Start training from score -3.239623

In [58]:
y_pred = model.predict(test_new_data)

In [59]:
submit_data = pd.read_csv("submission.csv")
submit_data["CouponCombination"] = y_test_pred
submit_data.to_csv("submit_v5.csv",index = False)